<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>445698063824-ulavn52qkr8su4bdkm0p1671l9ifdb05.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.445698063824-ulavn52qkr8su4bdkm0p1671l9ifdb05</string>
	<key>API_KEY</key>
	<string>AIzaSyDrqbLSOPXwAlfN-CrmETby3eVCIsN7hvk</string>
	<key>GCM_SENDER_ID</key>
	<string>445698063824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.well.gymmobileapp</string>
	<key>PROJECT_ID</key>
	<string>gym-well-app</string>
	<key>STORAGE_BUCKET</key>
	<string>gym-well-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445698063824:ios:63370790b2af355bee0dd5</string>
</dict>
</plist>